body {
  background: #000;
}

.form {
  width: 28%;
  margin: 0 auto;
  margin-top: 6rem;
}

.form form input {
  background: rgb(23, 24, 37) ;
  color: white;
  border: none
}

.form form input:focus {
  background: rgb(23, 24, 37) ;
  color: white;
  outline: none !important;
  border: none !important;
}

.form form .row .form-check {
  display: flex !important;
}

.form form .row label {
  margin-left: .5rem !important;
}

.delete {
  margin-left: 1rem;
}